---

- include: 'debian.yml'
  when: ansible_facts.os_family == 'Debian'

- include: 'redhat.yml'
  when: ansible_facts.os_family == 'RedHat'

- include: 'route_table_configuration.yml'
  tags: configuration

- include: 'bond_configuration.yml'
  when: interfaces_bond_interfaces is defined
  tags: configuration

- include: 'bridge_configuration.yml'
  when: interfaces_bridge_interfaces is defined
  tags: configuration

- include: 'ethernet_configuration.yml'
  when: interfaces_ether_interfaces is defined
  tags: configuration
