DEVICE={{ item.device }}
USERCTL=no
{% if item.bootproto == 'static' %}
BOOTPROTO=none
{% if item.address is defined %}
IPADDR={{ item.address }}
{% endif %}
{% if item.netmask is defined %}
NETMASK={{ item.netmask }}
{% endif %}
{% if item.gateway is defined %}
GATEWAY={{ item.gateway }}
{% endif %}
{% endif %}

{% if item.bootproto == 'dhcp' %}
BOOTPROTO=dhcp
{% endif %}

ONBOOT={{ item.onboot|default("yes") }}
BONDING_OPTS="{% if item.bond_mode is defined %}mode={{ item.bond_mode }} {% endif %}miimon={{ item.bond_miimon|default(100) }} {% if item.bond_xmit_hash_policy is defined %}xmit_hash_policy={{ item.bond_xmit_hash_policy }} {% endif %} {% if item.bond_lacp_rate is defined %}lacp_rate={{ item.bond_lacp_rate }} {% endif %}"

{% if ansible_distribution_major_version | int >= 7 %}
NM_CONTROLLED=no
{% endif %}

{% if item.mtu is defined %}
MTU={{ item.mtu }}
{% endif %}

{% for bridge in interfaces_bridge_interfaces %}
{% if item.device in bridge.ports %}
BRIDGE={{ bridge.device }}
{% endif %}
{% endfor %}
