# {{ ansible_managed }}

NAME={{ item.device }}
DEVICE={{ item.device }}
TYPE=Bond
{% if item.hwaddr is defined %}
HWADDR={{ item.hwaddr }}
{% endif %}
USERCTL=no
{% if item.bootproto == 'static' %}
BOOTPROTO=none
{% if item.address is defined %}
IPADDR={{ item.address }}
{% endif %}
{% if item.netmask is defined %}
NETMASK={{ item.netmask }}
{% endif %}
{% if item.gateway is defined %}
GATEWAY={{ item.gateway }}
{% endif %}
{% endif %}
{% if item.bootproto == 'dhcp' %}
BOOTPROTO=dhcp
{% endif %}
{% if item.defroute is defined %}
DEFROUTE={{ item.defroute | bool | ternary('yes', 'no') }}
{% endif %}
{% if item.onboot is defined %}
ONBOOT={{ item.onboot | bool | ternary('yes', 'no') }}
{% endif %}
BONDING_OPTS="{% if item.bond_mode is defined %}mode={{ item.bond_mode }} {% endif %}{% if item.bond_ad_select is defined %}ad_select={{ item.bond_ad_select }} {% endif %}{% if item.bond_updelay is defined %}updelay={{ item.bond_updelay }} {% endif %}{% if item.bond_downdelay is defined %}downdelay={{ item.bond_downdelay }} {% endif %}{% if item.bond_xmit_hash_policy is defined %}xmit_hash_policy={{ item.bond_xmit_hash_policy }} {% endif %}{% if item.bond_lacp_rate is defined %}lacp_rate={{ item.bond_lacp_rate }} {% endif %}{% if item.bond_primary is defined %}primary={{ item.bond_primary }} {% endif %}miimon={{ item.bond_miimon|default(100) }}"
{% if ansible_facts.distribution_major_version | int >= 7 %}
NM_CONTROLLED=no
{% endif %}
{% if item.mtu is defined %}
MTU={{ item.mtu }}
{% endif %}
{% if item.zone is defined %}
ZONE="{{ item.zone }}"
{% endif %}
{% for bridge in interfaces_bridge_interfaces %}
{% if item.device in bridge.ports %}
BRIDGE={{ bridge.device }}
{% endif %}
{% endfor %}
