{% if not interfaces_merge %}# {{ ansible_managed }}
{% else %}# Bridge - {{ item.device }}
{% endif %}

auto {{ item.device }}
{% if item.bootproto == 'manual' %}
iface {{ item.device }} inet manual
{% endif %}
{% if item.bootproto == 'dhcp' %}
iface {{ item.device }} inet dhcp
{% endif %}
{% if item.bootproto == 'static' %}
iface {{ item.device }} inet static
{% if item.address is defined %}
address {{ item.address }}
{% endif %}
{% if item.netmask is defined %}
netmask {{ item.netmask }}
{% endif %}
{% if item.gateway is defined %}
gateway {{ item.gateway }}
{% endif %}
{% endif %}
{% if item.mtu is defined %}
mtu {{ item.mtu }}
{% endif %}
{% if item.hwaddr is defined %}
hwaddress {{ item.hwaddr }}
{% endif %}
{% if item.pre_up is defined %}
pre-up {{ item.pre_up }}
{% endif %}
{% if item.ports is defined %}
bridge_ports {{ item.ports|join(' ') }}{% if item.ports | default([], true) | length == 0 %}none{% endif %}

{% endif %}
{% if item.stp is defined %}
bridge_stp {{ item.stp }}
{% endif %}
{% if item.fd is defined %}
bridge_fd {{ item.fd }}
{% endif %}
{% if item.vlan_aware is defined %}
bridge-vlan-aware {{ item.vlan_aware }}
{% endif %}

{% if item.route is defined %}
{%   for i in item.route %}
{# Workaround for Ansible bug https://github.com/ansible/ansible/issues/17872. #}
{%     if i is mapping %} {# If route is not a mapping, then assume it's a complete rule #}
{%       set prefix = ('0.0.0.0/' ~ i.netmask) | ipaddr('prefix') %}
{%       set route = i.network ~ '/' ~ prefix %}
{%       if 'gateway' in i %}
{%         set route = route ~ ' via ' ~ i.gateway %}
{%       else %}
{%         set route = route ~ ' dev ' ~ item.device %}
{%       endif %}
{%       if 'table' in i %}
{%         set route = route ~ ' table ' ~ i.table %}
{%       endif %}
{%       for option in i.options | default([]) %}
{%         if option is mapping %}
{%           set option = (option | dict2items | first).key %}
{%         endif %}
{%         set route = route ~ ' ' ~ option %}
{%       endfor %}
{%     else %}
{%       set route = i %}
{%     endif %}
up ip route add {{ route }}
down ip route del {{ route }}
{%   endfor %}

{% endif %}
{% if item.rules is defined %}
{% for rule in item.rules %}
{%   if rule is mapping %}
{%     if rule.to is defined %}
{%       set rule_str = 'to ' ~ rule.to %}
{%     endif %}
{%     if rule.from is defined %}
{%       set rule_str = 'from ' ~ rule.from %}
{%     endif %}
{%     if rule.table is defined %}
{%       set rule_str = rule_str ~ ' table' ~ rule.table %}
{%     endif %}
{%   else %}
{%     set rule_str = rule %}
{%   endif %}
up ip rule add {{ rule_str }}
down ip rule del {{ rule_str }}
{% endfor %}
{% endif %}
