auto {{ item.device }}
{% if item.bootproto == 'static' %}
iface {{ item.device }} inet static
{% if item.mtu is defined %}
mtu {{ item.mtu }}
{% endif %}
{% if item.address is defined %}
address {{ item.address }}
{% endif %}
{% if item.netmask is defined %}
netmask {{ item.netmask }}
{% endif %}
{% if item.gateway is defined %}
gateway {{ item.gateway }}
{% endif %}
{% if item.ports is defined %}
bridge_ports {{ item.ports|join(' ') }}
{% endif %}
{% if item.stp is defined %}
bridge_stp {{ item.stp }}
{% endif %}
{% endif %}

{% if item.bootproto == 'dhcp' %}
iface {{ item.device }} inet dhcp
{% if item.ports is defined %}
bridge_ports {{ item.ports|join(' ') }}
{% endif %}
{% if item.stp is defined %}
bridge_stp {{ item.stp }}
{% endif %}
{% endif %}

{% if item.route is defined %}
{% for i in item.route %}
up route add -net {{ i.network }} netmask {{ i.netmask }} gw {{ i.gateway }} dev {{ item.device }}
{% endfor %}
{% endif %}

{% if item.rules is defined %}
{% for rule in item.rules %}
up ip rules add {{ rule }}
{% endfor %}
{% endif %}
