# {{ ansible_managed }}

[connection]
id={{ item.1 }}
type={{ ('vlan' if item.1 is match(vlan_interface_regex) else 'dummy' if item.1 is match(dummy_interface_regex) else 'ethernet') }}
interface-name={{ item.1 }}
controller={{ item.0.device }}
port-type=bridge

{% if item.0.type | default('ethernet') in ['ipoib', 'infiniband'] %}
[infiniband]
transport-mode=datagram
{% if item.mtu is defined %}
mtu={{ item.0.mtu }}
{% endif %}
{% else %}
{% if item.0.mtu is defined %}
[ethernet]
mtu={{ item.0.mtu }}
{% endif %}
{% endif %}

{% if item.1 is match(vlan_interface_regex) %}
[vlan]
interface-name={{ item.1 }}
parent={{ item.1 | regex_replace(vlan_interface_regex, '\g<interface>') }}
id={{ item.1 | regex_replace(vlan_interface_regex, '\g<vlan_id>') }}
{% endif %}
