# {{ ansible_managed }}

NAME={{ item.1 }}
DEVICE={{ item.1 }}
TYPE={{ (item.1 is match(vlan_interface_regex)) | ternary('Vlan', 'Ethernet') }}
BOOTPROTO=none
BRIDGE={{ item.0.device }}

{% if item.0.ethtool_opts is defined %}
ETHTOOL_OPTS="{{ item.0.ethtool_opts }}"
{% endif %}

{% if item.0.onboot is defined %}
ONBOOT={{ item.0.onboot }}
{% endif %}

{% if ansible_facts.distribution_major_version | int >= 7 %}
NM_CONTROLLED={{ interfaces_use_networkmanager | ternary('yes', 'no') }}
{% endif %}

{% if item.1 is match(vlan_interface_regex) %}
VLAN=yes
{% endif %}

{% if item.0.mtu is defined %}
MTU={{ item.0.mtu }}
{% endif %}
