# {{ ansible_managed }}

{{ item.allowclass | default('auto') }} {{ item.device }}
{% if item.bootproto == 'dhcp' %}
iface {{ item.device }} inet dhcp
{% endif %}
{% if item.bootproto == 'static' %}
iface {{ item.device }} inet static
{% if item.addresses is defined and item.addresses is iterable %}
{% if item.addresses[0].address is defined %}
address {{ item.addresses[0].address }}
{% else %}
{% if item.address is defined %}
address {{ item.address }}
{% endif %}
{% endif %}
{% endif %}
{% if item.addresses is defined and item.addresses is iterable %}
{% if item.addresses[0].netmask is defined %}
netmask {{ item.addresses[0].netmask }}
{% else %}
{% if item.netmask is defined %}
netmask {{ item.netmask }}
{% endif %}
{% endif %}
{% endif %}
{% if item.gateway is defined %}
gateway {{ item.gateway }}
{% endif %}
{% if item.dnsnameservers is defined %}
dns-nameservers {{ item.dnsnameservers }}
{% endif %}
{% endif %}
{% if item.mtu is defined %}
mtu {{ item.mtu }}
{% endif %}
{% if item.hwaddr is defined %}
hwaddress ether {{ item.hwaddr }}
{% endif %}
{% if item.pre_up is defined %}
pre-up {{ item.pre_up }}
{% endif %}
{% if item.dnssearch is defined %}
dns-search {{ item.dnssearch }}
{% endif %}
{% if item.wpaconf is defined %}
wpa-conf {{ item.wpaconf }}
{% endif %}

{% if item.addresses is defined and item.addresses | length > 1 %}
{% for item0 in item.addresses %}
{% if loop.index > 1 %}
{% if item.bootproto == 'dhcp' %}
iface {{ item.device }} inet dhcp
{% endif %}
{% if item.bootproto == 'static' %}
iface {{ item.device }} inet static
{% endif %}
{% if item0.address is defined %}
address {{ item0.address }}
{% endif %}
{% if item0.netmask is defined %}
netmask {{ item0.netmask }}
{% endif %}

{% endif %}
{% endfor %}
{% endif %}

{% if item.route is defined %}
{% for i in item.route %}
{# Workaround for Ansible bug https://github.com/ansible/ansible/issues/17872. #}
{% set prefix = ('0.0.0.0/' ~ i.netmask) | ipaddr('prefix') %}
{% set route = i.network ~ '/' ~ prefix %}
{% if 'gateway' in i %}
{% set route = route ~ ' via ' ~ i.gateway %}
{% else %}
{% set route = route ~ ' dev ' ~ item.device %}
{% endif %}
{% if 'table' in i %}
{% set route = route ~ ' table ' ~ i.table %}
{% endif %}
{% if 'options' in i %}
{% set route = route ~ ' ' ~ i.options | join(' ') %}
{% endif %}
up ip route add {{ route }}
down ip route del {{ route }}
{% endfor %}
{% endif %}
{% if item.rules is defined %}

{% for rule in item.rules %}
up ip rule add {{ rule }}
down ip rule del {{ rule }}
{% endfor %}
{% endif %}
{% if item.device is match(vlan_interface_regex) %}

vlan-raw-device {{ item.device | regex_replace(vlan_interface_suffix_regex, '') }}
{% endif %}
{% if item.bootproto == 'static' %}

{% if item.ip6 is defined %}
iface {{ item.device }} inet6 static
address {{ item.ip6.address }}
{% if item.ip6.prefix is defined %}
netmask {{ item.ip6.prefix }}
{% endif %}
{% if item.ip6.gateway is defined %}
gateway {{ item.ip6.gateway }}
{% endif %}
{% endif %}
{% endif %}
{% if item.ip6 is defined %}

{% if item.ip6.route is defined %}
{% for i in item.ip6.route %}
{% set route = i.network %}
{% if 'gateway' in i %}
{% set route = route ~ ' via ' ~ i.gateway %}
{% else %}
{% set route = route ~ ' dev ' ~ item.device %}
{% endif %}
{% if 'table' in i %}
{% set route = route ~ ' table ' ~ i.table %}
{% endif %}
{% if 'options' in i %}
{% set route = route ~ ' ' ~ i.options | join(' ') %}
{% endif %}
up ip -6 route add {{ route }}
down ip -6 route del {{ route }}
{% endfor %}
{% endif %}
{% endif %}
