DEVICE={{ item.device }}
{% if item.bootproto == 'static' %}
BOOTPROTO=none
{% if item.address is defined %}
IPADDR={{ item.address }}
{% endif %}
{% if item.netmask is defined %}
NETMASK={{ item.netmask }}
{% endif %}
{% if item.gateway is defined %}
GATEWAY={{ item.gateway }}
{% endif %}
{% endif %}

{% if item.bootproto == 'dhcp' %}
BOOTPROTO=dhcp
{% endif %}

{% if item.onboot is defined %}
ONBOOT={{ item.onboot }}
{% endif %}

{% if ansible_distribution_major_version | int >= 7 %}
NM_CONTROLLED=no
{% endif %}

{% if item.device | match('.*\.\d{1,4}') %}
VLAN=yes
{% endif %}

{% if item.mtu is defined %}
MTU={{ item.mtu }}
{% endif %}
