# {{ ansible_managed }}

DEVICE={{ item.device }}
TYPE=Ethernet
{% if item.hwaddr is defined %}
HWADDR={{ item.hwaddr }}
{% endif %}
{% if item.bootproto == 'static' %}
BOOTPROTO=none
{% if item.addresses is defined and item.addresses is iterable %}
{% for item0 in item.addresses %}
{% if item0.address is defined %}
IPADDR{{ loop.index - 1}}={{ item0.address }}
{% endif %}
{% if item0.netmask is defined %}
NETMASK{{ loop.index -1 }}={{ item0.netmask }}
{% endif %}
{% endfor %}
{% else %}
{% if item.address is defined %}
IPADDR={{ item.address }}
{% endif %}
{% if item.netmask is defined %}
NETMASK={{ item.netmask }}
{% endif %}
{% endif %}
{% if item.gateway is defined %}
GATEWAY={{ item.gateway }}
{% endif %}
{% if item.dnsnameservers is defined %}
{% for dns_server in item.dnsnameservers.split(' ')[:2] %}
DNS{{ loop.index }}={{ dns_server }}
{% endfor %}
{% endif %}
{% if item.dnssearch is defined %}
DOMAIN={{ item.dnssearch }}
{% endif %}
{% endif %}
{% if item.bootproto == 'dhcp' %}
BOOTPROTO=dhcp
{% endif %}
{% if item.defroute is defined %}
DEFROUTE={{ item.defroute | bool | ternary('yes', 'no') }}
{% endif %}
{% if item.ethtool_opts is defined %}
ETHTOOL_OPTS="{{ item.ethtool_opts }}"
{% endif %}
{% if item.onboot is defined %}
ONBOOT={{ item.onboot | bool | ternary('yes', 'no') }}
{% endif %}
{% if ansible_distribution_major_version | int >= 7 %}
NM_CONTROLLED=no
{% endif %}
{% if item.device is match(vlan_interface_regex) %}
VLAN=yes
{% endif %}
{% if item.mtu is defined %}
MTU={{ item.mtu }}
{% endif %}
{% if item.zone is defined %}
ZONE="{{ item.zone }}"
{% endif %}
{% if item.bootproto == 'static' %}
{% if item.ip6 is defined %}
IPV6INIT=yes
IPV6ADDR={{ item.ip6.address ~ '/' ~ item.ip6.prefix }}
{% if item.ip6.gateway is defined %}
IPV6_DEFAULTGW={{ item.ip6.gateway }}
{% endif %}
{% if item.ip6.defaultdev is defined %}
IPV6_DEFAULTDEV={{ item.ip6.defaultdev }}
{% endif %}
{% endif %}
{% endif %}
