DEVICE={{ item.device }}
{% if item.bootproto == 'static' %}
BOOTPROTO=none
{% if item.address is defined %}
IPADDR={{ item.address }}
{% endif %}
{% if item.netmask is defined %}
NETMASK={{ item.netmask }}
{% endif %}
{% if item.gateway is defined %}
GATEWAY={{ item.gateway }}
{% endif %}
{% if item.dnsnameservers is defined %}
{% for dns_server in item.dnsnameservers.split(' ')[:2] %}
DNS{{ loop.index + 1 }}={{ dns_server }}
{% endfor %}
{% endif %}
{% endif %}

{% if item.bootproto == 'dhcp' %}
BOOTPROTO=dhcp
{% endif %}

{% if item.onboot is defined %}
ONBOOT={{ item.onboot }}
{% endif %}

{% if ansible_distribution_major_version | int >= 7 %}
NM_CONTROLLED=no
{% endif %}

{% if item.device | match(vlan_interface_regex) %}
VLAN=yes
{% endif %}

{% if item.mtu is defined %}
MTU={{ item.mtu }}
{% endif %}

{% if item.bootproto == 'static' %}
{% if item.ip6 is defined %}
IPV6INIT=yes
IPV6ADDR={{ item.ip6.address ~ '/' ~ item.ip6.prefix }}
{% if item.ip6.gateway is defined %}
IPV6_DEFAULTGW={{ item.ip6.gateway }}
{% endif %}
{% endif %}
{% endif %}
